<% @questions.each do |question| %>
  <p>
    <%= link_to question.body, test_question_path(@test, question) %><br>
    <%= link_to "Destroy", test_question_path(@test, question), data: { method: :delete, confirm: "Are you sure?" } %>
  </p>
<%end%>
