<p><%= render plain: @question.body %></p>

<%= link_to 'Back', test_questions_path(current_test) %> |
<%= link_to 'Edit', edit_test_question_path(current_test, @question) %> |
<%= link_to 'Delete',
            test_question_path(current_test, @question),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
