<footer>
  <div>
    <p>
      <%= current_year %> |
      Victor Klementyev |
      <%= github_url('Vicxwild', 'test-guru') %> |
      The application for passing tests using the question - answer method |
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank' %>
    </p>
  </div>
</footer>
