<tr>
  <td><%= question.body %></td>
  <td><%= link_to t('common.show'), admin_test_question_path(current_test, question) %></td>
  <td><%= link_to t('common.edit'), edit_admin_test_question_path(current_test, question) %></td>
  <td>
    <%= link_to t('common.delete'),
                admin_test_question_path(current_test, question),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
